# Ejercicio APIs

## 1. Extraer información de las alumnas:

- Usa este endpoint: "https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json" para hacer la llamada a la API.

**Nota:** no requiere api_key ni registro, se puede llamar directamente.

- Extrae de los resultados:
    - Número de expediente
    - Nombre
    - Apellido

- Convierte los datos extraidos en un Dataframe de pandas

## 2. Objetos cercanos a la tierra:

- Usa esta API: https://api.nasa.gov/
    - Requiere api_key

- Utiliza este endpoint: Asteroids - NeoWs -> mira bien la documentación!!

- Extrae los ids de los objetos cercanos a la Tierra de uno de los días (el que tú quieras) y crea una lista con ellos.

- BUsca si en ese mismo endpoint hay alguna manera de obtener la información de cada objeto por su id. Haz la llamada para cada id de la lista y almacena en un diccionario el id, nombre y si es peligroso de cada objeto.

In [2]:
import requests

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.8.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gisel\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
url_alumnas_2 = "https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json"

In [7]:
res = requests.get(url_alumnas_2)

In [8]:
res.status_code

200

In [9]:
print(res)

<Response [200]>

In [10]:
res.json()

{'info': {'count': 20,
  'pages': 1,
  'currentPage': 1,
  'next': None,
  'prev': None},
 'results': [{'num_expediente': 1001,
   'nombre': 'Ana',
   'apellidos': 'Martínez',
   'fecha_nacimiento': '2005-03-15'},
  {'num_expediente': 1002,
   'nombre': 'Luis',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2004-11-22'},
  {'num_expediente': 1003,
   'nombre': 'Clara',
   'apellidos': 'Ruiz',
   'fecha_nacimiento': '2006-01-10'},
  {'num_expediente': 1004,
   'nombre': 'Pedro',
   'apellidos': 'Sánchez',
   'fecha_nacimiento': '2005-07-08'},
  {'num_expediente': 1005,
   'nombre': 'Lucía',
   'apellidos': 'Torres',
   'fecha_nacimiento': '2004-09-18'},
  {'num_expediente': 1006,
   'nombre': 'Javier',
   'apellidos': 'González',
   'fecha_nacimiento': '2006-06-24'},
  {'num_expediente': 1007,
   'nombre': 'María',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-04-10'},
  {'num_expediente': 1008,
   'nombre': 'David',
   'apellidos': 'Pérez',
   'fecha_nacimiento': '2004-12-12'},
  {'num_expediente': 1009,
   'nombre': 'Sara',
   'apellidos': 'García',
   'fecha_nacimiento': '2005-08-15'},
  {'num_expediente': 1010,
   'nombre': 'Ricardo',
   'apellidos': 'Martín',
   'fecha_nacimiento': '2006-03-22'},
  {'num_expediente': 1011,
   'nombre': 'Alba',
   'apellidos': 'Vázquez',
   'fecha_nacimiento': '2004-05-05'},
  {'num_expediente': 1012,
   'nombre': 'Carlos',
   'apellidos': 'Serrano',
   'fecha_nacimiento': '2005-02-28'},
  {'num_expediente': 1013,
   'nombre': 'Elena',
   'apellidos': 'Ramírez',
   'fecha_nacimiento': '2006-08-01'},
  {'num_expediente': 1014,
   'nombre': 'Iván',
   'apellidos': 'Hernández',
   'fecha_nacimiento': '2005-10-30'},
  {'num_expediente': 1015,
   'nombre': 'Laura',
   'apellidos': 'Jiménez',
   'fecha_nacimiento': '2004-07-14'},
  {'num_expediente': 1016,
   'nombre': 'Tomás',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-12-18'},
  {'num_expediente': 1017,
   'nombre': 'Paula',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2006-02-06'},
  {'num_expediente': 1018,
   'nombre': 'Mario',
   'apellidos': 'Díaz',
   'fecha_nacimiento': '2004-11-30'},
  {'num_expediente': 1019,
   'nombre': 'Raquel',
   'apellidos': 'González',
   'fecha_nacimiento': '2005-09-23'},
  {'num_expediente': 1020,
   'nombre': 'Jorge',
   'apellidos': 'Álvarez',
   'fecha_nacimiento': '2006-05-17'}]}

In [16]:
diccionario_alumnado = {"nu_exp": [], "nombre": [], "apellido": []}

In [12]:
datos = res.json()

In [ ]:
for alumno in datos["results"]:
    diccionario_alumnado["nu_exp"].append(alumno["num_expediente"])
    diccionario_alumnado["nombre"].append(alumno["nombre"])
    diccionario_alumnado["apellido"].append(alumno["apellidos"])

In [19]:
print(diccionario_alumnado)

{'nu_exp': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020], 'nombre': ['Ana', 'Luis', 'Clara', 'Pedro', 'Lucía', 'Javier', 'María', 'David', 'Sara', 'Ricardo', 'Alba', 'Carlos', 'Elena', 'Iván', 'Laura', 'Tomás', 'Paula', 'Mario', 'Raquel', 'Jorge'], 'apellido': ['Martínez', 'Fernández', 'Ruiz', 'Sánchez', 'Torres', 'González', 'López', 'Pérez', 'García', 'Martín', 'Vázquez', 'Serrano', 'Ramírez', 'Hernández', 'Jiménez', 'López', 'Fernández', 'Díaz', 'González', 'Álvarez']}

In [21]:
df = pd.DataFrame(diccionario_alumnado)
df.head()

   nu_exp nombre   apellido
0    1001    Ana   Martínez
1    1002   Luis  Fernández
2    1003  Clara       Ruiz
3    1004  Pedro    Sánchez
4    1005  Lucía     Torres